<%- include('../public/partials/header.ejs') %>

    <body>
        <%- include('../public/partials/nav.ejs') %>

            <div class="container">
                <div id="titulo-pro">
                    <hr>
                    <h1>Proximas atualizações</h1>
                    <hr>
                </div>
                <div class="card"></div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Sistema de Banco de Horas:</strong> Sistema de controle de HE (Horas Extra)</li>
                    <li class="list-group-item"><strong>Implantação:</strong> Aba inspirada em procedimentos onde ira customizar um site para clientes informando os procedimentos cabiveis ao cliente</li>
                    <li class="list-group-item">
                        <strong>Reconhecimento:</strong> Area reservada para reconhecer valores, progressos e premiações de determinados funcionarios
                    </li>
                </ul>
            </div>
            </div>
            <%- include('../public/partials/footer-.ejs') %>