<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teste</title>
</head>
<body>
    <%comunicados.forEach(comunicados =>{%>
        <%=comunicados.titulo%>
        <br>
        <%=comunicados.comunicado%>
    <%})%>
</body>
</html>