<%- include('../public/partials/header.ejs') %>
<body>
    <%- include('../public/partials/nav.ejs') %>
<div class="container">
    <div id="titulo-pro" class="mt-4 p-2">
    <h1>Procedimentos</h1>
</div>
    <! -- Botão que leva ao forum.ejs -->
        <br>
        <! --percorrer o arrey do banco (formato que o banco tras os dados) -->
            <%procedimentos.forEach(procedimentos=>{%>
            <br>
            <! -- card para organizar em quadros (bootstrap) -->
                <div class="card">
                    <div id="card-pro" class="card-body">
                        <! -- tras o titulo da pergunta-->
                            <h3><%=procedimentos.proc_titulo%></h3>
                
                    </div>
                    <div class="card-footer">
                        <a href="/operacao/<%=procedimentos.id%>" target="_blank"><button class="btn botao">Vizualizar</button></a>
                    </div>
                </div>
                <%})%>
</div>
</body>