#div1{
    display: inline;  
}
#div2{
    display: none;  
}
#div3{
    display: none;  
}
#div4{
    display: none;  
}
#div5{
    display: none;  
}
#div6{
    display: none;  
}
#div7{
    display: none;  
}
#div8{
    display: none;  
}
img{
    padding: 10px;
}

.id1{
    margin-left: 50px;
    background: #84b4e847;
    border-radius: 30px;
    margin-top: 0;
    margin-bottom: 20px;


}

body{
    ;
}

#titulo-pro{
    background-color: #0081bc;
    color: white;
    border-radius: 10px;
    text-align: center;

 }