<%- include('../../../public/partials/header.ejs')%>

    <%- include('../../../public/partials/nav-admin.ejs')%>

<body>
    Area Admin
    
</body>
<%- include('../../../public/partials/footer-.ejs')%>