<%- include('../../../public/partials/header.ejs')%>

    <%- include('../../../public/partials/nav.ejs')%>
<body>
        <div class="container">
            <br>
            <div class="card">
                <div class="card-header">
                    <h2>Cadatro de comunicados</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="/comunicados/save">
                        <input class="form-control" type="text" name="titulo"
                            placeholder="Defina o título de seu comunicado">
                            <br>
                            <textarea class="form-control" name="body" placeholder="Escreva o comunicado aqui"
                            id="article"></textarea>
                            <p>Informe o status desse comunicado abaixo:</p>
                            <select name="status" class="form-control">
                                <option value="Ativado">Ativado</option>
                                <option value="Desativado">Desativado</option>
                            </select>
                            <p>Informe a importancia desse comunicado:</p>
                            <select name="importancia" class="form-control">
                                <option value="normal">normal</option>
                                <option value="alta">alta</option>
                            </select>
                            <p>Informe a data e hora de expiração:</p>
                            <input name="dataExp" type="date">
                            <br><br>
                        <button class="btn btn-success">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>

        <%- include('../../../public/partials/footer-.ejs')%>